table{
    border-collapse: collapse;
    height: 100px;
    margin-top: 50px;
}
table tr th{
    border:1px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-family: "Calibri";
    font-weight: normal;
}

table .name-table{
    background-color: #FED8B1;
}

img{
    width: 210px;
    height: 160px;

}
.pet-item{
    height: 260px;
    width: 350px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 20px 20px 20px 0;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: transform 0.25s;
}
.pet-item:hover{
    transform: scale(1.1);

}

.pet{
    padding: 8px;
    margin-bottom: 2px;
    width: 150px;
    border: 0 ;
    background-color: #6F4E37;
    color: #cccccc;
    position: absolute;
    left: 100px;
    border-radius:10px ;
}

.no-pet {
    border: 1px solid #A0937D;
    border-radius: 10px;
    padding: 15px;
    height: 50px;
    margin-top: 25px;
    background-color: #E7D4B5;
    color: #6F4E37;
}
